extends ../layout

block content 
  h1 Genre ID #{title}
  
  h2= genre.name 

  p= genre.description 

  if (genreGames.length)
    p #{genre.name} Games:
    for game in genreGames 
      a(href=game.url)
        button= game.name 

  if (genre.imageURL)
    img(src=`/data/uploads/genres/${genre.imageURL}`, alt=`Visual depiction of the ${genre.name} genre`)

  a(href=`/store/videogames/new?genre=${genre._id}`)
    button Add New #{genre.name} Game

  a(href=`/store/genres/${genre._id}/update`)
    button Update Genre 

  a(href=`/store/genres/${genre._id}/delete`)
    button Delete Genre 