extends ../layout

block content 
  h1= title 
  a(href="/store/genres/new")
    button.new-content Add New Genre 

  div.content
    for genre in genreList 
      div.content-item
        if (genre.imageURL)
          a(href=genre.url)
            button.img-btn
              img(src=`/data/uploads/genres/${genre.imageURL}`, alt=`Visual depiction of the ${genre.name} genre`)
          p.content-title= genre.name
          
        else
          a(href=genre.url)
            button.content-title= genre.name