extends ../layout

block content 
  div.single-content
    h1 Genre ID #{title}
    
    div.content-info
      if (genre.imageURL)
        img(src=`/data/uploads/genres/${genre.imageURL}`, alt=`Visual depiction of the ${genre.name} genre`)

      div(class=(genre.imageURL ? "content-info-w-image" : "content-info-wo-image"))
        h2= genre.name 

        p= genre.description 

        if (genreGames.length)
          p #{genre.name} Games:
          div.content-list
            for game in genreGames 
              a(href=game.url)
                button= game.name 

    div.content-crud
      a(href=`/store/videogames/new?genre=${genre._id}`)
        button Add New #{genre.name} Game

      a(href=`/store/genres/${genre._id}/update`)
        button Update Genre 

      a(href=`/store/genres/${genre._id}/delete`)
        button Delete Genre 