extends ../layout

block content
  h1= title 
  a(href="/store/videogames/new")
    button.new-content Add New Game

  div.content
    for game in gameList 
      div.content-item
        if (game.imageURL)
          a(href=game.url)
            button 
              img(src=`/data/uploads/videoGames/${game.imageURL}`, alt=`Official box art ${game.name}`)
          p.content-title= game.name

        else
          a(href=game.url)
            button.content-title= game.name

        p= game.developer.name

        if (game.genre.length)
          for genre in game.genre 
            p.content-genre= genre.name