extends ../layout

block content 
  h1= title 

  form(action=(title === "New Video Game" ? "" : `/store/videogames/${game._id}/update?_method=PUT`), method="post", enctype="multipart/form-data") 

    label(for="name") Video Game (required) : 
      input#name(type="text", name="name", required, minlength=1, value=(game ? game.name : ""))

    label(for="description") Description (required) : 
      textarea#description(name="description", cols="30", rows="10", required, minlength=1)= game ? game.description : ""
      
    label(for="releaseDate") Release Date (required) : 
      input#releaseDate(type="date", name="releaseDate", required, value=(game ? game.releaseDateFormFormatted : "")) 

    label(for="price") Price (optional) :
      input#price(type="number", name="price", min=0, step=0.01, value=(game ? game.price : ""))

    label(for="copies") Copies in Stock (optional) :
      input#copies(type="number", name="copies", min=0, value=(game ? game.copies : "")) 

    label(for="developer") Developed by (required) :
      select#developer(name="developer", required)
        option(value="") List of Developers 
        for developer in developerList 
          option(value=developer._id,
            selected=(
              game
                ? (game.developer.toString() === developer._id.toString()
                  ? true
                  : false)
                : false ||
              query.developer
                ? (query.developer.toString() === developer._id.toString()
                  ? true
                  : false)
              : false)
            )= developer.name

    fieldset 
      legend Available on the Following Consoles (optional) :

      for console in consoleList 
        label(for=console.name)= console.name 
        input(id=console.name, type="checkbox", name="console", value=console._id,
          checked=(
            game
              ? (game.console.includes(console._id)
                ? true
                : false)
              : false ||
            query.console
              ? (query.console.includes(console._id)
                ? true
                : false)
            : false)
          )

    fieldset 
      legend This Game is a(n) (optional) :
      
      for genre in genreList 
        label(for=genre.name)= genre.name 
        input(id=genre.name, type="checkbox", name="genre", value=genre._id,
          checked=(
            game
              ? (game.genre.includes(genre._id)
                ? true
                : false)
              : false ||
            query.genre 
              ? (query.genre.includes(genre._id)
                ? true
                : false)
            : false)
          )

    label(for="file") Upload Image 
      input#file(type="file", name="file", accept="image/png, image/jpeg") 

    if (game && game.imageURL)
      label(for="delete") Delete Image (includes uploaded image)
        input#delete(type="checkbox", name="delete")

    if (game)
      label(for="password") Please enter the password to submit updates: 
        input#password(type="password", name="password") 

    input(type="submit", value=buttonLabel)

  a(href=(game ? `/store/videogames/${game._id}` : "/store/videogames"))
    button Cancel 

  if (errors)
    for error in errors 
      p= error.msg