extends ../layout

block content 
  div.single-content
    h1= title

    div.content-info
      if (game.imageURL)
        img(src=`/data/uploads/videoGames/${game.imageURL}`, alt=`Official box art ${game.name}`)

      div(class=(game.imageURL ? "content-info-w-image" : "content-info-wo-image"))
        h2= game.name 

        p Developed by 
          a(href=game.developer.url)
            button= game.developer.name

        p Originally released on #{game.releaseDateDisplayFormatted}

        p= game.price !== undefined ? `Price: ${game.priceFormatted}` : "Price Unavailable"

        p= game.copies !== undefined ? `Copies in stock: ${game.copies}` : "Number of Copies Unavailable"

        p= game.description

        p Available on:
        if (game.console.length)
          div.content-list
            for console in game.console
              a(href=console.url)
                button= console.name 

        else 
          p None

        p Genres:
        if (game.genre.length)
          div.content-list
            for genre in game.genre 
              a(href=genre.url)
                button= genre.name 
            
        else 
          p None
    
    div.content-crud
      a(href=`/store/videogames/${game._id}/update`)
        button Update Video Game 
        
      a(href=`/store/videogames/${game._id}/delete`)
        button Delete Video Game 