extends ../layout

block content 
  h1 Developer ID #{title} 
  h2=developer.name 
  if (developer.founded !== undefined)
    p Founded in #{developer.founded}
  if (developer.headquarters)
    p Headquartered in #{developer.headquartersFormatted}
  p=developer.description

  if (developerGames.length)
    p Games Developed by #{developer.name}:
    for game in developerGames 
      a(href=game.url) 
        button=game.name


  a(href=`/store/videogames/new?developer=${developer._id}`)
    button Add New Game Developed by #{developer.name}

  a(href=`/store/developers/${developer._id}/update`)
    button Update Developer 