extends ../layout

block content 
  h1 Developer ID #{title} 
  h2=developer.name 
  if (developer.founded !== undefined)
    p Founded in #{developer.founded}
  if (developer.headquarters)
    p Headquartered in #{developer.headquartersFormatted}
  p=developer.description

  if (developedGames.length)
    p Games Developed by #{developer.name}:
    for game in developedGames 
      a(href=game.url) 
        button=game.name