extends ../layout

block content 
  h1= title 
  h2=developer.name 
  p Founded in #{developer.founded}
  p Headquartered in #{developer.headquartersFormatted}
  p=developer.description

  p Games Developed by #{developer.name}:
  for game in developedGames 
    a(href=game.url) 
      button=game.name