extends ../layout

block content 
  div.single-content
    h1 Developer ID #{title} 

    div.content-info
      if (developer.imageURL)
        img(src=`/data/uploads/developers/${developer.imageURL}`, alt=`${developer.name} logo`)

      div(class=(developer.imageURL ? "content-info-w-image" : "content-info-wo-image")) 
        h2=developer.name 

        if (developer.founded !== undefined)
          p Founded in #{developer.founded}

        if (developer.headquarters)
          p Headquartered in #{developer.headquartersFormatted}

        p=developer.description

        if (developerGames.length)
          p Games Developed by #{developer.name}:
          div.content-list
            for game in developerGames 
              a(href=game.url) 
                button=game.name

    div.content-crud
      a(href=`/store/videogames/new?developer=${developer._id}`)
        button Add New Game Developed by #{developer.name}

      a(href=`/store/developers/${developer._id}/update`)
        button Update Developer 

      a(href=`/store/developers/${developer._id}/delete`)
        button Delete Developer 