extends ../layout

block content 
  div.delete-content
    h1= title 
    
    if (videoGamesWithDeveloper.length)
      p= `The following game(s) have ${developer.name} as a developer. Please delete them first.`
      div.games-list
        for game in videoGamesWithDeveloper
          a(href=game.url)= game.name 

    if (!videoGamesWithDeveloper.length)
      p= `Are you sure you want to delete ${developer.name}?`
      form(action=`/store/developers/${developer._id}/delete?_method=DELETE`, method="post") 
        label(for="password") Please enter the password to confirm deletion: 
            input#password(type="password", name="password") 
        input(type="submit", value="Delete Developer")

    a(href=`/store/developers/${developer._id}`)
      button Cancel 

    if (errors)
      for error in errors 
        p= error.msg