extends ../layout

block content 
  h1 Console ID #{title}
  h2= consoleDoc.name

  if (consoleDoc.releaseDate)
    p Released in #{consoleDoc.releaseDateDisplayFormatted} by #{consoleDoc.creator}

  else 
    p By #{consoleDoc.creator}

  p= consoleDoc.description 

  if (consoleGames.length)
    p Games Available on the #{consoleDoc.name}:
    for game in consoleGames 
      a(href=game.url)
        button= game.name

  if (consoleDoc.imageURL)
    img(src=`/data/uploads/consoles/${consoleDoc.imageURL}`, alt=`Official promotional image of the ${consoleDoc.name}`)

  a(href=`/store/videogames/new?console=${consoleDoc._id}`)
    button Add New Game Available on the #{consoleDoc.name}

  a(href=`/store/consoles/${consoleDoc._id}/update`)
    button Update Console 

  a(href=`/store/consoles/${consoleDoc._id}/delete`)
    button Delete Console 