extends ../layout

block content 
  h1 Console ID #{title}
  h2= console.name
  if (console.releaseDate)
    p Released in #{console.releaseDateDisplayFormatted} by #{console.creator}
  else 
    p By #{console.creator}
  p= console.description 

  if (consoleGames.length)
    p Games Available on the #{console.name}:
    for game in consoleGames 
      a(href=game.url)
        button= game.name

  a(href=`/store/videogames/new?console=${console._id}`)
    button Add New Game Available on the #{console.name}