extends ../layout

block content
  h1= title
  a(href="/store/consoles/new") Add New Console 
  for consoleDoc in consoleList
    if (consoleDoc.imageURL)
      a(href=consoleDoc.url)
        button 
          img(src=`/data/uploads/consoles/${consoleDoc.imageURL}`, alt=`Official display of the ${consoleDoc.name}`)
      p= consoleDoc.name
    else
      a(href=consoleDoc.url)
        button= consoleDoc.name
    p By #{consoleDoc.creator}