extends ../layout

block content 
  h1= title 
  form(action=(title === "New Console" ? "" : `/store/consoles/${consoleDoc._id}/update?_method=PUT`), method="post", enctype="multipart/form-data") 
    label(for="name") Console (required) : 
      input#name(type="text", name="name", required, minlength=1, value=(consoleDoc ? consoleDoc.name : ""))
    label(for="creator") Created By (required) : 
      input#creator(type="text", name="creator", required, minlength=1, value=(consoleDoc ? consoleDoc.creator : ""))
    label(for="description") Description (required) : 
      textarea#description(name="description", cols="30", rows="10", required, minlength=1)= consoleDoc ? consoleDoc.description : ""
    label(for="releaseDate") Released On (optional): 
      input#releaseDate(type="date", name="releaseDate", value=(consoleDoc && consoleDoc.releaseDate ? consoleDoc.releaseDateFormFormatted : "")) 

    label(for="file") Upload Image 
      input#file(type="file", name="file", accept="image/png, image/jpeg") 

    if (consoleDoc && consoleDoc.imageURL)
      label(for="delete") Delete Image (includes uploaded image)
        input#delete(type="checkbox", name="delete")

    if (consoleDoc)
      label(for="password") Please enter the password to submit updates: 
        input#password(type="password", name="password") 

    input(type="submit", value=buttonLabel)

  a(href=(consoleDoc ? `/store/consoles/${consoleDoc._id}` : "/store/consoles"))
    button Cancel 

  if (errors)
    for error in errors 
      p= error.msg