extends ../layout

block content 
  h1= title
  if (videoGamesWithConsole.length)
    p= `The following game(s) have the ${consoleDoc.name} as a console. Please delete them first.`
    for game in videoGamesWithConsole
      a(href=game.url)= game.name 

  if (!videoGamesWithConsole.length)
    p= `Are you sure you want to delete the ${consoleDoc.name} console?`
    form(action=`/store/consoles/${consoleDoc._id}/delete?_method=DELETE`, method="post") 
      input(type="submit", value="Delete Console")


  a(href=`/store/consoles/${consoleDoc._id}`)
    button Cancel 